<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np

In [20]:
#Manually add the dataset
countries = ('Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe')
gdp_values = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])
countries

('Algeria',
 'Angola',
 'Argentina',
 'Australia',
 'Austria',
 'Bahamas',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Bhutan',
 'Brazil',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Chile',
 'China',
 'Colombia',
 'Cyprus',
 'Denmark',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Georgia',
 'Ghana',
 'Grenada',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Ireland',
 'Italy',
 'Japan',
 'Kenya',
 'South Korea',
 'Liberia',
 'Malaysia',
 'Mexico',
 'Morocco',
 'Nepal',
 'New Zealand',
 'Norway',
 'Pakistan',
 'Peru',
 'Qatar',
 'Russia',
 'Singapore',
 'South Africa',
 'Spain',
 'Sweden',
 'Switzerland',
 'Thailand',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'Vietnam',
 'Zimbabwe')

#### 2: Find and print the name of the country with the highest GDP

In [5]:
gdp_values

array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
       27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
       24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
         590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
        3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
        6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
       23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
         394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
         837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
       39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
        5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
       14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
       36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
       15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
       21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
        5671.912202 ,   757.4009286,   347.7456605])

In [14]:
#Use the argmax() method to find the highest GDP
h1 = np.argmax(gdp_values)
h1
countries[h1]

'Norway'

In [15]:
l1 = np.argmin(gdp_values)

'Ethiopia'

In [18]:
#Print the name of the country
countries[l1]

'Ethiopia'

#### 3: Find and print the name of the country with the lowest GDP

In [11]:
#Use the argmin() method to find the lowest GDP
l1 = np.argmin(gdp_values)
l1

21

In [12]:
#Print the name of the country
countries[l1]

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [16]:
#Use a for loop to print the required output
for country in countries:
    print('evaluating country',country)
    print('country nane',country)

evaluating country Algeria
country nane Algeria
evaluating country Angola
country nane Angola
evaluating country Argentina
country nane Argentina
evaluating country Australia
country nane Australia
evaluating country Austria
country nane Austria
evaluating country Bahamas
country nane Bahamas
evaluating country Bangladesh
country nane Bangladesh
evaluating country Belarus
country nane Belarus
evaluating country Belgium
country nane Belgium
evaluating country Bhutan
country nane Bhutan
evaluating country Brazil
country nane Brazil
evaluating country Bulgaria
country nane Bulgaria
evaluating country Cambodia
country nane Cambodia
evaluating country Cameroon
country nane Cameroon
evaluating country Chile
country nane Chile
evaluating country China
country nane China
evaluating country Colombia
country nane Colombia
evaluating country Cyprus
country nane Cyprus
evaluating country Denmark
country nane Denmark
evaluating country El Salvador
country nane El Salvador
evaluating country Estonia
country nane Estonia
evaluating country Ethiopia
country nane Ethiopia
evaluating country Fiji
country nane Fiji
evaluating country Finland
country nane Finland
evaluating country France
country nane France
evaluating country Georgia
country nane Georgia
evaluating country Ghana
country nane Ghana
evaluating country Grenada
country nane Grenada
evaluating country Guinea
country nane Guinea
evaluating country Haiti
country nane Haiti
evaluating country Honduras
country nane Honduras
evaluating country Hungary
country nane Hungary
evaluating country India
country nane India
evaluating country Indonesia
country nane Indonesia
evaluating country Ireland
country nane Ireland
evaluating country Italy
country nane Italy
evaluating country Japan
country nane Japan
evaluating country Kenya
country nane Kenya
evaluating country South Korea
country nane South Korea
evaluating country Liberia
country nane Liberia
evaluating country Malaysia
country nane Malaysia
evaluating country Mexico
country nane Mexico
evaluating country Morocco
country nane Morocco
evaluating country Nepal
country nane Nepal
evaluating country New Zealand
country nane New Zealand
evaluating country Norway
country nane Norway
evaluating country Pakistan
country nane Pakistan
evaluating country Peru
country nane Peru
evaluating country Qatar
country nane Qatar
evaluating country Russia
country nane Russia
evaluating country Singapore
country nane Singapore
evaluating country South Africa
country nane South Africa
evaluating country Spain
country nane Spain
evaluating country Sweden
country nane Sweden
evaluating country Switzerland
country nane Switzerland
evaluating country Thailand
country nane Thailand
evaluating country United Arab Emirates
country nane United Arab Emirates
evaluating country United Kingdom
country nane United Kingdom
evaluating country United States
country nane United States
evaluating country Uruguay
country nane Uruguay
evaluating country Venezuela
country nane Venezuela
evaluating country Vietnam
country nane Vietnam
evaluating country Zimbabwe
country nane Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [17]:
#Use a for loop to print the required list
for i, country in enumerate(countries):
    print(country, '  ', gdp_values[i])

Algeria    2255.225482
Angola    629.9553062
Argentina    11601.63022
Australia    25306.82494
Austria    27266.40335
Bahamas    19466.99052
Bangladesh    588.3691778
Belarus    2890.345675
Belgium    24733.62696
Bhutan    1445.760002
Brazil    4803.398244
Bulgaria    2618.876037
Cambodia    590.4521124
Cameroon    665.7982328
Chile    7122.938458
China    2639.54156
Colombia    3362.4656
Cyprus    15378.16704
Denmark    30860.12808
El Salvador    2579.115607
Estonia    6525.541272
Ethiopia    229.6769525
Fiji    2242.689259
Finland    27570.4852
France    23016.84778
Georgia    1334.646773
Ghana    402.6953275
Grenada    6047.200797
Guinea    394.1156638
Haiti    385.5793827
Honduras    1414.072488
Hungary    5745.981529
India    837.7464011
Indonesia    1206.991065
Ireland    27715.52837
Italy    18937.24998
Japan    39578.07441
Kenya    478.2194906
South Korea    16684.21278
Liberia    279.2204061
Malaysia    5345.213415
Mexico    6288.25324
Morocco    1908.304416
Nepal    274.8728621
New Zealand    14646.42094
Norway    40034.85063
Pakistan    672.1547506
Peru    3359.517402
Qatar    36152.66676
Russia    3054.727742
Singapore    33529.83052
South Africa    3825.093781
Spain    15428.32098
Sweden    33630.24604
Switzerland    39170.41371
Thailand    2699.123242
United Arab Emirates    21058.43643
United Kingdom    28272.40661
United States    37691.02733
Uruguay    9581.05659
Venezuela    5671.912202
Vietnam    757.4009286
Zimbabwe    347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [19]:
print(countries[h1],' ', gdp_values[h1], ' ', h1)
print(countries[l1],' ', gdp_values[l1], ' ', l1)
gdp_mean = np.mean(gdp_values)
gdp_sum = np.sum(gdp_values)
gdp_normalized = gdp_values - gdp_mean
gdp_normalized = gdp_normalized / gdp_values.max()
print(gdp_mean)
print(gdp_normalized)
print(gdp_sum)
print(gdp_values.size)

Norway   40034.85063   45
Ethiopia   229.6769525   21
11289.409271639683
[-0.22565799 -0.26625437  0.00779873  0.35013034  0.39907715  0.20426157
 -0.26729312 -0.2097938   0.33581286 -0.24587701 -0.16200912 -0.21657464
 -0.26724109 -0.26535908 -0.1040711  -0.21605845 -0.19800108  0.10212996
  0.48884206 -0.21756778 -0.11899303 -0.27625262 -0.22597112  0.40667258
  0.29293074 -0.24865242 -0.27193092 -0.13094113 -0.27214523 -0.27235845
 -0.24666851 -0.13846505 -0.26106412 -0.25184103  0.4102955   0.19102958
  0.70660099 -0.27004446  0.13475268 -0.27501511 -0.14847553 -0.12492006
 -0.23432346 -0.2751237   0.08385223  0.71801046 -0.2652003  -0.19807472
  0.62104035 -0.20568783  0.55552652 -0.18644544  0.10338272  0.55803472
  0.69641835 -0.2145702   0.24401308  0.42420534  0.65946588 -0.04267164
 -0.14031517 -0.263071   -0.27330347]
711232.7841133
63